<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
	<div class="navbar navbar-default navbar-fixed-bottom"
		style="max-height: 150px;">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-3">
					<h4>友情链接</h4>
					<ul class="list-inline">
						<li><a href="http://jimas.cn/" target="_blank">jimas.cn</a></li>
						<li><a href="https://github.com/" rel="nofollow"
							target="_blank">Github</a></li>
						<li><a href="http://www.bootcss.com/" rel="nofollow"
							target="_blank">Bootstrap中文网</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<h4>关于本站</h4>
					<ul class="list">
						<li><a href="#">本站说明</a></li>
						<li><a href="#">本站统计</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<h4>联系我们</h4>
					<ul class="list">
						<li><a href="#">合作</a></li>
						<li><a href="#">举报</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<img alt="" length="100" width="89" src="image/weixin.png"/>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="line-height: 40px;">
			<div class="col-xs-4 col-sm-3 col-md-3"></div>
			<div class="col-xs-9 col-sm-6 col-md-6" style="text-align: center;">
				2017－2027 © 版权所有 违法必究
			</div>
			<div class="col-xs-4 col-sm-3 col-md-3">
				<a class="back-to-top" href="#top"
					style="font-size: 20px; text-decoration: none;"> <span><i
						class="glyphicon glyphicon-chevron-up"></i></span> 返回顶部
				</a>
			</div>
		</div>
	</div>
</div>
</html>
