<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">

	<div class="container">
		<ol class="breadcrumb" th:if="${menu.menuCode} eq ${ancestorCode}" th:each="menu:${menuList}">
			<li><a href="#" th:href="${menu.menuUrl}" th:text="${menu.menuName}"> </a></li>
			<li th:if="${subMenu.menuCode eq code}" th:each="subMenu:${menu.subMenuList}" >
				<a href="#" th:text="${subMenu.menuName}">JSON格式化</a>
			</li>
			<li th:if="${#lists.isEmpty(menu.subMenuList)}" th:text="${menu.menuName}"></li>
		</ol>
	</div>

</div>
</html>