<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="datejs">

	<!-- core js -->
	<div th:include="common/corejs :: corejs" th:remove="tag" />
	<script type="text/javascript" src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker-ext.js"/>
<!-- 	<script type="text/javascript" src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"/> -->
	<script type="text/javascript" src="/js/dateUtil.js"/>
	
	
</div>
</html>