<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="datecss">
	<div th:include="common/corecss :: corecss" th:remove="tag" />

<!-- 	<link href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" -->
<!-- 		rel="stylesheet" /> -->
	<link href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet" />

</div>
</html>