<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html lang="zh-CN" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--网页编码，要使用的外部文件，自动适应屏幕-->
<div th:include="common/meta :: meta" th:remove="tag" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>日期格式化</title>
<!-- head -->
<div th:include="common/tools/datecss :: datecss" th:remove="tag" />

<style type="text/css">
.panel-body p {
	margin: 10px 0 10px;
}
</style>
</head>
<body th:with="ancestorCode='TOOLS',parentCode='TOOLS',code='DATE'">
	<!-- header -->
	<div th:include="common/header :: header" th:remove="tag" />
	<!-- nav -->
 	<div th:include="common/nav :: nav" th:remove="tag" />

	<div class="container">
		<form action="" class="form-horizontal" role="form">
			<fieldset>
				<div class="form-group">
					<label for="dtp_input1" class="col-md-2 control-label">DateTime
						Picking</label>
					<div class="input-group date form_datetime col-md-5" data-date=""
						data-date-format="yyyy-mm-dd hh:ii:ss"
						data-link-field="dtp_input1">
						<input class="form-control" size="16" type="text" value=""
							readonly="readonly" /> <span class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input1" value="" /><br />
				</div>
				<div class="form-group">
					<label for="dtp_input2" class="col-md-2 control-label">Date
						Picking</label>
					<div class="input-group date form_date col-md-5" data-date=""
						data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
						<input class="form-control" size="16" type="text" value=""
							readonly="readonly" /> <span class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<input type="hidden" id="dtp_input2" value="" /><br />
				</div>
				<div class="form-group">
					<label for="dtp_input3" class="col-md-2 control-label">Time
						Picking</label>
					<div class="input-group date form_time col-md-5" data-date=""
						data-date-format="hh:ii" data-link-field="dtp_input3"
						data-link-format="hh:ii">
						<input class="form-control" size="16" type="text" value=""
							readonly="readonly" /> <span class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-time"></span></span>
					</div>
					<input type="hidden" id="dtp_input3" value="" /><br />
				</div>
			</fieldset>
		</form>
	</div>
	<div class="container">
		<main class="row-fluid">
		<div class="panel panel-default margin-t-10">
			<div class="panel-body">
				<div class="col-md-12 margin-10 form-inline">
					<p>
						<button type="button" class="btn btn-success btn-sm width-100">
							时间截/日期<span aria-hidden="true"
								class="glyphicon glyphicon-chevron-down margin-l-5"></span>
						</button>
					</p>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">时间截</div>
						<input class="form-control" type="text" value="1404958872"
							th:value="${times_tamp}" name="times_tamp" id="times_tamp" />
					</div>
					<div class="col-md-1 input-group text-center">
						<input value="转换 »" id="times_tamp_to_times_date"
							class="btn btn-success" type="button" />
					</div>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">日期</div>
						<input class="form-control" type="text" value="" name="times_date"
							id="times_date" />
					</div>
				</div>
				<div class="col-md-12 margin-10 form-inline">
					<p>
						<button type="button" class="btn btn-success btn-sm width-100">
							日期/时间截<span aria-hidden="true"
								class="glyphicon glyphicon-chevron-down margin-l-5"></span>
						</button>
					</p>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">日期</div>
						<input class="form-control form_datetime" type="text"
							value="2014-07-10 10:21:12" th:value="${now}" name="times_date2"
							id="times_date2" readonly="readonly" />
					</div>
					<div class="col-md-1 input-group text-center">
						<input value="转换 »" id="times_date_to_times_tamp"
							class="btn btn-success" type="button" />
					</div>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">时间截</div>
						<input class="form-control" type="text" value=""
							name="times_tamp2" id="times_tamp2" />
					</div>
				</div>
				<div class="col-md-12 margin-10 form-inline">
					<p>
						<button type="button" class="btn btn-success btn-sm width-100">
							日期时间差<span aria-hidden="true"
								class="glyphicon glyphicon-chevron-down margin-l-5"></span>
						</button>
					</p>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">开始日期</div>
						<input class="form-control form_date" id="start_date" type="text"
							name="start_date" readonly="readonly" />
					</div>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">结束日期</div>
						<input class="form-control form_date" id="end_date" type="text"
							name="end_date" readonly="readonly" />
					</div>
					<div class="col-md-1 input-group text-center">
						<input value="计算 »" id="start_end_date" class="btn btn-success"
							type="button" />
					</div>
					<div class="col-md-2 input-group text-center">
						<div class="input-group-addon">相差天数</div>
						<input class="form-control" type="text" value="" name="result_day"
							id="result_day" />
					</div>
				</div>
				<div class="col-md-12 margin-10 form-inline">
					<p>
						<button type="button" class="btn btn-success btn-sm width-100">
							之前日期<span aria-hidden="true"
								class="glyphicon glyphicon-chevron-down margin-l-5"></span>
						</button>
					</p>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">前几天</div>
						<input class="form-control" type="text" value="10" name="old_date"
							id="old_date" />
					</div>
					<div class="col-md-1 input-group text-center">
						<input value="计算 »" id="js_old_date" class="btn btn-success"
							type="button" />
					</div>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">日期</div>
						<input class="form-control" type="text" value=""
							name="result_old_date" id="result_old_date" />
					</div>
				</div>
				<div class="col-md-12 margin-10 form-inline"
					style="margin-bottom: 10px;">
					<p>
						<button type="button" class="btn btn-success btn-sm width-100">
							之后日期<span aria-hidden="true"
								class="glyphicon glyphicon-chevron-down margin-l-5"></span>
						</button>
					</p>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">后几天</div>
						<input class="form-control" type="text" value="5" name="new_date"
							id="new_date" />
					</div>
					<div class="col-md-1 input-group text-center">
						<input value="计算 »" id="js_new_date" class="btn btn-success"
							type="button" />
					</div>
					<div class="col-md-3 input-group">
						<div class="input-group-addon">日期</div>
						<input class="form-control" type="text" value=""
							name="result_new_date" id="result_new_date" />
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<!-- foot -->
	<div th:include="common/foot :: foot" th:remove="tag" />
	<!-- core js -->
	<div th:include="common/tools/datejs :: datejs" th:remove="tag" />


	<script type="text/javascript">
		$(document).ready(function() {
			var obj1 = {
				apple : 0,
				banana : {
					count : 10,
					price : 5
				},
				cherry : 89
			};
			var obj2 = {
				apple : 10,
				banana : {
					weight : 100,
					price : 50
				},
				cherry : 189,
				durain : 20
			};
			console.log('obj1--->' + JSON.stringify(obj1));
			console.log('obj2--->' + JSON.stringify(obj2));
			$.extend(obj1, obj2);
			console.log('obj1 浅拷贝后--->' + JSON.stringify(obj1));

		});
	</script>

</body>
</html>