<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html lang="zh-CN" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--网页编码，要使用的外部文件，自动适应屏幕-->
<div th:include="common/meta :: meta" th:remove="tag" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>日志在线统计</title>
<!-- head -->
<div th:include="common/json/jsoncss :: jsoncss" th:remove="tag" />
</head>
<body th:with="ancestorCode='LOGCOUNT',parentCode='LOGCOUNT',code='LOGIP'">
	<!-- header -->
	<div th:include="common/header :: header" th:remove="tag" />
	<!-- nav -->
	<div th:include="common/nav :: nav" th:remove="tag" />
	

	<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation" th:class="${siteSource} ? '':'active' "><a href="/log/logIp">全部</a></li>
	  <li role="presentation" th:class="(${siteSource} eq 'bootstrap') ? 'active':'' " ><a href="/log/logIp/bootstrap">bootstrap</a></li>
	  <li role="presentation" th:class="(${siteSource} eq 'dbconn') ? 'active':'' "><a href="/log/logIp/dbconn">dbconn</a></li>
	</ul>
		  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    		<div id="main" style="height:600px"></div>
    		
	</div>
	<!-- foot -->
	<div th:include="common/foot :: foot" th:remove="tag" />
	<!-- core js -->
	<div th:include="common/echarts/echartsjs :: echartsjs" th:remove="tag" />


<!-- 内联js: -->
<script th:inline="javascript">
//使用
require(
    [
        'echarts',
        'echarts/chart/pie',// 使用柱状图就加载bar模块，按需加载
        'echarts/chart/funnel'
    ],
    function (ec) {
    	// 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('main')); 
    	var eChartPojo=[[${eChartPojo}]];
        
        var seriesData=new Array();
        $.each(eChartPojo.seriesDatas, function(i) {  
        	seriesData.push({value:eChartPojo.seriesDatas[i].series,name:eChartPojo.seriesDatas[i].legend});
        }); 
        var option = {
        	    title : {
        	        text: '全站用户访问来源',
        	        subtext: '日志统计',
        	        x:'center'
        	    },
        	    tooltip : {
        	        trigger: 'item',
        	        formatter: "{a} <br/>{b} : {c} ({d}%)"
        	    },
        	    legend: {
        	        orient : 'vertical',
        	        x : 'left',
        	        data:eChartPojo.legends
        	    },
        	    toolbox: {
        	        show : true,
        	        feature : {
        	            mark : {show: true},
        	            dataView : {show: true, readOnly: false},
        	            magicType : {
        	                show: true, 
        	                type: ['pie', 'funnel'],
        	                option: {
        	                    funnel: {
        	                        x: '25%',
        	                        width: '50%',
        	                        funnelAlign: 'left',
        	                        max: 1548
        	                    }
        	                }
        	            },
        	            restore : {show: true},
        	            saveAsImage : {show: true}
        	        }
        	    },
        	    calculable : true,
        	    series : [
        	        {
        	            name:'访问来源',
        	            type:'pie',
        	            radius : '55%',
        	            center: ['50%', '60%'],
        	            data: seriesData
        	        }
        	    ]
        	};

        // 为echarts对象加载数据 
        myChart.setOption(option); 
    }
);

</script>
</body>
</html>