<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html lang="zh-CN" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--网页编码，要使用的外部文件，自动适应屏幕-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
<meta http-equiv="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=5.0, 
                                     user-scalable=no"/>
<!-- <meta http-equiv="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" /> -->
<meta name="description" content="json在线解析"/>
<meta name="keywords" content="json,xml,json在线解析,json转xml,xml转json,json、xml互转"/>
<meta name="author" content="jimas.liu"/>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>json format</title>
<!-- head -->
<div th:include="common/json/jsoncss :: jsoncss" th:remove="tag" />
</head>
<body th:with="ancestorCode='HOME',parentCode='HOME',code='HOME'">
	<!-- header -->
	<div th:include="common/header :: header" th:remove="tag" />
	<!-- nav -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">HOME </a></li>

			<li><a href="#">HOME</a></li>
		</ol>
	</div>

	<div class="container">
		 
	</div>
	<!-- foot -->
	<div th:include="common/foot :: foot" th:remove="tag" />
	<!-- core js -->
	<div th:include="common/corejs :: corejs" th:remove="tag" />

</body>
</html>