<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html lang="zh-CN" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--网页编码，要使用的外部文件，自动适应屏幕-->
<div th:include="common/meta :: meta" th:remove="tag" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>登录页面</title>
<!-- head -->
<div th:include="common/login/logincss :: logincss" th:remove="tag" />
</head>
<body>
	<div th:include="common/header :: header" th:remove="tag" />

		<div class="signin">
			<div class="signin-head">
				<img src="/image/head_120.png" alt="" class="img-circle"/>
			</div>
			<form class="form-signin" role="form">
				<input type="text" class="form-control" placeholder="用户名" required="required"
					autofocus="autofocus" /> <input type="password" class="form-control"
					placeholder="密码" required="required" />
				<button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
				<label class="checkbox"> <input type="checkbox"
					value="remember-me"/> 记住我
				</label>
			</form>
		</div>

	<!-- foot -->
	<div th:include="common/foot :: foot" th:remove="tag" />
	<!-- core js -->
	<div th:include="common/login/loginjs :: loginjs" th:remove="tag" />


	<!-- 内联js: -->
	<script th:inline="javascript"> 


	</script>
</body>
</html>