<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="echartsjs">

	<!-- core js -->
	<div th:include="common/corejs :: corejs" th:remove="tag" />
	<script type="text/javascript" src="/echarts/echarts.js" />
	<!-- 内联js: -->
	<script th:inline="javascript">
		// 路径配置
		require.config({
			paths : {
				echarts: '/echarts'
			}
		});
	</script>

</div>
</html>